<app-header></app-header>
<div>
  <h1>Bem vindo, {{username}}!</h1>
  
  <div>
    <app-image-card
      #imagecard_pernalonga
      imgSrc = "assets/pernalonga_resting.png"
      imgSrcAlternative="assets/pernalonga_working.png"
      imgAlt = "Imagem do Pernalonga na praia, com óculos escuros."
      imgAltAlternative="Imagem do Pernalonga trabalhando na esquina."
      caption = "Pernalonga foi a praia!"
      captionAlternative="Pernalonga trabalhando..."
    ></app-image-card>
    
    <app-timer (trocarImagem)="trocarImagem()"></app-timer>
    
    <app-image-card
      #imagecard_picapau
      imgSrc = "assets/picapau_resting.png"
      imgSrcAlternative="assets/picapau_working.png"
      imgAlt = "Imagem do Picapau dormindo."
      imgAltAlternative="Imagem do Picapau trabalhando na limpeza do navio."
      caption = "Picapau foi dormir!"
      captionAlternative="Picapau trabalhando..."
    ></app-image-card>
  </div>

  <app-slideview></app-slideview>
</div>
