<table border="1">
    <thead>
      <tr>
        @for(column of tableColumns; track $index){
          <th>{{column}}</th>
        }
      </tr>
    </thead>
    <tbody>
        @if(tableType == 'all'){
          @for (item of sessions; track $index){
              <tr>
                  <td>{{ item.data }}</td>
                  <td>{{ item.hora }}</td>
                  <td>{{ item.tipo }}</td>
              </tr>
          }
        }
        @if(tableType == 'days'){
          @for (item of daySessions; track $index){
              <tr>
                  <td>{{ item.data }}</td>
                  <td>{{ item.horas | timeFormat}}</td>
              </tr>
          }
        }
    </tbody>
  </table>