table {
    border-collapse:separate;
    border-radius: 10px;
    width: 100%;
    border:none;
}

thead {
    background-color: #1f3d63;
    color: #d6e0ed;
    
}

tbody {
    background-color: #d6e0ed;
    color: #1f3d63;
    border: none;
    
}

th, td {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    text-align: center;
}